mediola:
  host: 192.168.18.127
  udp_port: 1902

mqtt:
  host: homeassistant.lan
  port: 1883
  username: 
  password: 
  discovery_prefix: homeassistant
  topic: mediola
  debug: false

buttons:
  - type: IT
    addr: 3d5e00
  - type: IT
    addr: 4de600

blinds:
  - type: RT
    addr: 5a25d5
    name: Bad 1
  - type: RT
    addr: 129a3a
    name: Bad 2
  - type: RT
    addr: c36a8a
    name: Diele
  - type: RT
    addr: f6eba5
    name: Stiegenhaus
  - type: ER
    addr: "01"
    name: Essbereich Nord
  - type: ER
    addr: "02"
    name: Essbereich Süd
  - type: ER
    addr: "03"
    name: Kinderzimmer
  - type: ER
    addr: "04"
    name: Schlafzimmer Rechts
  - type: ER
    addr: "05"
    name: Schlafzimmer Mitte
  - type: ER
    addr: "06"
    name: Schlafzimmer Links
